.idea/*
__pycache__/*
bin/*
build/*
develop-eggs/*
dist/*
eggs/*
lib/*
lib64/*
parts/*
sdist/*
var/*
*.egg-info/*
.installed.cfg
*.egg
/.ipynb_checkpoints/*
/sandbox/*
/tol_task_env/sandbox/*
/training/CSV/*
/training/images/*
/tol_task_env/tol_env.egg-info/
.DS_Store
tol_task_env/envs/__pycache__/
tol_task_env/envs/custom_tol_env_dir/__pycache__/
tol_task_env/envs/custom_tol_env_dir/tol_2d/__pycache__/
training/.DS_Store
training/__pycache__/
training/model_simulations/__pycache__/
training/run_simulations/.DS_Store
training/run_simulations/__pycache__/
training/utils/__pycache__/
/training/model_simulations/.ipynb_checkpoints/
